:root {
  font-size: 62.5%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
  color: hsl(181, 78%, 72%);
}

h1 {
font-size: 3.4rem;
}

p {
  font-size: 1.8rem;
}